#fp-nav {
    display: inline-block;
    width: 200px;
    margin-left: 3vw;
    ul {
        li {
            margin-bottom: 5vh;
            a {
                span {
                    background: none;
                }
            }
            a.active {
                span {
                    font-size: 4.3rem;
                    color: #F1F1F1;
                }
            }
        }

        li:hover {
            .fp-tooltip{
                display: none;
            }

            a.active {
                span {
                    color: #F1F1F1;
                }
            }
        }
    }
}

@media(max-width: 1024px) {
    #fp-nav {
        display: none;
    }

    .fp-tableCell {
        display: flex;
        justify-content: center;
    }
}


#fp-nav.fp-show-active a.active+.fp-tooltip {
    display: none;
}

.fp-sr-only {
    overflow: unset;
    clip: initial;
    width: inherit;
    font-size: 4rem;
    color: #838383;
}

.fp-sr-only:hover {
    color: #B8B8B8;
}

.fp-section.fp-table {
    display: block;
}

.fp-tableCell {
    width: 100vw;
    // height: 100vh !important;
}

.fp-slides {
    height: auto;
}

.fp-slide.fp-table {
    .fp-tableCell {
        height: auto !important;
        display: flex;
    }
}

.fp-controlArrow.fp-prev {
    left: 250px;
    border-color: transparent gray transparent transparent;
}


.fp-controlArrow.fp-next {
    border-color: transparent transparent transparent gray  ;
}

@media(max-width: 1024px) {
    .fp-controlArrow.fp-prev {
        left: 0;
    }
    .fp-controlArrow.fp-next {
        right: 0;
    }
}

@media(max-width: 768px) {
    .fp-controlArrow.fp-prev {
        border-width: 19px 17px 19px 0;
    }
    .fp-controlArrow.fp-next {
        border-width: 19px 0 19px 17px;
    }
}