// ===============================================
// 이파일은 fullpage라이브러리와 css충돌이있어 제작자의 편향대로 커스텀하기위해 만듬
// important 남발을 할 수 밖에없음


#fp-nav {
    display: inline-block;
    width: 200px;
    margin-left: 3vw;
    ul {
        li {
            margin-bottom: 5vh !important;
            a {
                span {
                    background: none !important;
                }
            }
            
            a.active {
                span {
                    font-size: 4.3rem !important;
                    color: #F1F1F1 !important;
                }
            }
        }

        li:hover {
            .fp-tooltip{
                display: none !important;
            }
        }
    }
}

@media(max-width: 1024px) {
    #fp-nav {
        display: none;
    }

    .fp-tableCell {
        display: flex !important;
        justify-content: center;
    }
}


#fp-nav.fp-show-active a.active+.fp-tooltip {
    display: none;
}

.fp-sr-only {
    overflow: unset !important;
    clip: initial !important;
    width: inherit !important;
    font-size: 4rem !important;
    color: #838383 !important;
}

.fp-sr-only:hover {
    color: #B8B8B8 !important;
}

.fp-section.fp-table {
    display: block;
}

.fp-tableCell {
    width: 100vw;
}

.fp-slides {
    height: auto;
}

.fp-slide.fp-table {
    .fp-tableCell {
        height: auto !important;
        display: flex;
    }
}

.fp-controlArrow.fp-prev {
    left: 250px !important;
    border-color: transparent gray transparent transparent !important;
}


.fp-controlArrow.fp-next {
    border-color: transparent transparent transparent gray !important;
}

@media(max-width: 1024px) {
    .fp-controlArrow.fp-prev {
        left: 0 !important;
    }
    .fp-controlArrow.fp-next {
        right: 0 !important;
    }
}

@media(max-width: 768px) {
    .fp-controlArrow.fp-prev {
        border-width: 19px 17px 19px 0 !important;
    }
    .fp-controlArrow.fp-next {
        border-width: 19px 0 19px 17px !important;
    }
}